.btn-primary {
  color: #fff;
  background-color: #d63031;
  border-color: #c52728;
}

.btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color: #b02324;
  border-color: #5b1212;
}

.btn-primary:hover {
  color: #fff;
  background-color: #b02324;
  border-color: #921d1e;
}

.btn-primary:active, .btn-primary.active,
.open > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #b02324;
  border-color: #921d1e;
}

.btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus,
.open > .btn-primary.dropdown-toggle:hover,
.open > .btn-primary.dropdown-toggle:focus,
.open > .btn-primary.dropdown-toggle.focus {
  color: #fff;
  background-color: #921d1e;
  border-color: #5b1212;
}

.btn-primary:active, .btn-primary.active,
.open > .btn-primary.dropdown-toggle {
  background-image: none;
}

.btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled].active,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary.focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary.active {
  background-color: #d63031;
  border-color: #c52728;
}

.btn-primary .badge {
  color: #d63031;
  background-color: #fff;
}

.libre-baskerville-regular, body {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}

.barriecito-regular, .header h2 {
  font-family: "Barriecito", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #161a1b;
  color: azure;
}

.header {
  color: azure;
  background-image: url(../img/kateandnickwebcrunched.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.card {
  margin-left: auto;
  margin-right: auto;
}

.about {
  background-image: url(../img/honeyrose1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

footer {
  background: black;
}
